$font-family: 'Museo Sans Cyrl', 'Helvetica Neue', Arial, sans-serif;
$text-color-light: #fff;
$text-color-dark: #0D0D0D;
$text-color-secondary: #555555;
$label-color: #4B4B4B;
$text-color-price: #050505;
$text-color-tab-disable: #6B6B6B;
$border-color-tab: #D0D0D0;
$bg-color-section: #F6F6F6;
$bg-color-button: #c70101;