@use "../base/variables" as var;

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__header {
            font-size: 36px;
            line-height: 39px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 24px;
        }
        &__icons {
            width: 100%;
            margin-right: 0;
            justify-content: space-around;
        }
    }
    .adventeges {
        &__item {
            width: 31%;
        }
    }
    .title--left {
        font-size: 30px;
        line-height: 45px;
    }
    .catalog {
        &-item {
            flex: 1 0 45%;
        }
    }
}
@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
    .d-sm-none {
        display: none;
    }
    .header {
        &__item {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &__logo {
            max-width: 200px;
            width: 100%;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 2px;
        }
        .button {
            height: auto;
            padding: 4px 0;
            width: 150px;
        }
    }
    .promo {
        &__header {
            font-size: 30px;
            line-height: 33px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 22px;
        }
        &__icons {
            width: 100%;
            margin-right: 0;
            justify-content: space-around;
        }
    }
    .adventeges {
        &__items {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .title {
        font-size: 26px;
        &--left {
            line-height: 35px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 60px 0 68px;
        &__descr {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .catalog {
        &__tab {
            font-size: 14px;
        }
        &-item {
            flex: 1 0 auto; 
        }
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
    }
    .header {
        margin-left: -15px;
        margin-right: -15px;
        &__item {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            font-size: 10px;
            max-width: 100%;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 80px;
            text-align: center;
            align-items: center;
        }
        &__icons {
            margin: 50px 0 55px;
        }
        &__icon {
            font-size: 12px;
            line-height: 15px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .adventeges {
        &__item {
            max-width: 300px;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .title {
        font-size: 20px;
        line-height: 30px;
    }
    .form {
        margin-left: auto;
        margin-right: auto;
        input {
            opacity: .7;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
            width: 100%;
            max-width: 300px;
        }
    }
}