@use '../base/variables' as var;
* {
    font-family: var.$font-family;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.promo {
    min-height: 650px;
    padding: 20px 0px 93px;
    background: var.$text-color-secondary url(../img/header-bg.png) no-repeat center center / cover;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
        color: var.$text-color-light;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 51px;
        text-transform: uppercase;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
    }
    &__icons {
        margin: 60px 20px 65px 0;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 136px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: var.$text-color-light;
        img {
            display: block;
            margin: 0 auto 20px;
        }
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        color: var.$text-color-light;
        a {
            color: var.$text-color-light;
            text-decoration: underline;
        }
    }
}

